source midterm/bin/activate











# comment this before final submission
MY_IP=$(curl -s https://checkip.amazonaws.com)
aws ec2 authorize-security-group-ingress --group-id sg-05f50d3434391d8fd --protocol tcp --port 80 --cidr ${MY_IP}/32